@import "../../styles/mixins.scss";
.postBody {
  padding: 10rem 0;
}

.postContainer {
  background-color: var(--color-black-100);
  padding: 3rem;

  @include responsive-custom(62.5em) {
    padding: 5rem;
    padding-left: 5rem !important;
    padding-right: 5rem !important;
  }

  @include responsive("mobile") {
    padding: 3rem !important;
  }
}

.notFound {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.postContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5rem;
  row-gap: 2rem;

  @include responsive-custom(62.5em) {
    grid-template-columns: 1fr;
  }
}

.infoWrapper {
  h2 {
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-black-700);
    margin-bottom: 5px;
  }
  h3 {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  div {
    background-color: var(--color-black-200);
    padding: 1rem 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;

    span {
      &:last-of-type {
        color: var(--color-black-700);
        font-weight: 500;
      }
    }

    button {
      align-self: flex-start;
      padding: 0.3rem 1.3rem;
      border-radius: 5rem;
      color: var(--color-black-50);
      background-color: var(--color-black-600);
      border: none;
      outline: none;
      margin-top: 2rem;
      cursor: pointer;

      font-size: 1.4rem;
    }
  }

  p {
    margin-top: 3rem;
    font-size: 1.4rem;
  }

  button {
    padding: 1rem;
    background-color: var(--color-black-600);
    color: var(--color-black-50);
    border-radius: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    border: none;
    outline: none;
  }
}

.features {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.featuresPanel {
  padding: 2rem;
  background-color: var(--color-black-200);
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 3rem;

  div {
    background-color: var(--color-black-300);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
  }
}

.generalPanel {
  background-color: var(--color-black-200);

  border-radius: 1rem;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 3rem;

  div {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(--color-black-300);
    padding: 0.5rem 1.2rem;
    border-radius: 1rem;
  }
}

.mapContainer {
  position: relative;

  min-height: 24rem;
  overflow: hidden;
  border-radius: 1rem;
}

.createdAt {
  @include responsive-custom(23.75em) {
    font-size: 1.2rem;
  }
}

.priceTag {
  font-weight: 600;
}
