.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-black-800);
  height: 8rem;
}
.navContainer {
  display: flex;
  align-items: center;

  justify-content: space-between;
  flex-grow: 1;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 3rem;

  h1 {
    font-family: var(--font-serif);
    font-size: 3.5rem;
    color: var(--color-black-200);
  }

  a {
    text-decoration: none;
    color: var(--color-black-200);
    display: flex;
    font-weight: 300;
    align-items: center;
    gap: 0.6rem;
    justify-content: center;
  }

  :global(.active) {
    color: var(--color-black-50);
    font-weight: 500;
  }
}

.navLogin {
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-black-200);
  color: var(--color-black-200);
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 5rem;

  &:hover {
    background-color: var(--color-black-200);
    color: var(--color-black-700);
  }
}
