.returnBtn {
  position: absolute;
  top: 2rem;
  left: 2rem;
  color: var(--color-black-50);
  font-size: 3.5rem;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
}
