@import "../../styles/mixins.scss";
.catalogBody {
  min-height: 90dvh;
  padding: 10rem 0;
  @include responsive("tab-land") {
    padding: 10rem 2rem;
  }
}

.catalogItem {
  width: 100%;
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-black-300);
  transition: all 0.3s ease;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }

  img {
    width: 100%;
  }
}

.postContainer {
  padding: 5rem;
  margin-top: 4rem;
  display: grid;
  background-color: var(--color-black-100);
  border-radius: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 34.5rem));

  @include responsive("tab-land") {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
  gap: 3rem;
}

.postInfo {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.postLocation {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3px;

  img {
    width: 2rem;
  }
}

.price {
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--color-black-700);
}

.pagination {
  grid-column: 1 / -1;

  justify-self: end;

  display: flex;
  gap: 2rem;

  button {
    padding: 1rem 2rem;
    border-radius: 1rem;
    outline: none;
    border: none;
    background-color: var(--color-black-50);
    color: var(--color-black-700);
    border: 1px solid var(--color-black-700);
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      background-color: var(--color-black-200);
    }
  }
}

.activePage {
  background-color: #57534e !important;
  color: var(--color-black-50) !important;
}

.results {
  grid-column: 1 / -1;
}
