.catalogBody {
  min-height: 90dvh;
  padding: 10rem 0;
}

.catalogItem {
  width: 100%;
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-black-300);
  transition: all 0.3s ease;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }

  img {
    width: 100%;
  }
}

.postContainer {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 5rem;
}

.postInfo {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.postLocation {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3px;

  img {
    width: 2rem;
  }
}

.price {
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--color-black-700);
}
