@import "../../styles/mixins.scss";
.interfaceWrapper {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right top, #292524, rgba(#57534e, 0.2)),
    url("/register.jpg");
  background-size: cover;
  background-position: center;
  padding: 2rem;

  @include responsive-custom(50em) {
    padding: 3rem 5rem;
  }
}

.loginForm {
  width: 77.5rem;
  max-width: 77.5rem;
  background-color: rgba(#f5f5f4, 0.85);
  padding: 3rem 4rem;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 4rem;
  row-gap: 2.5rem;

  h2 {
    font-size: 2.5rem;
    color: #44403c;
    font-weight: 400;
  }

  h3 {
    font-size: 1.6rem;
    font-weight: 400;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    label {
      font-size: 1.6rem;
      color: #44403c;
    }

    input {
      background-color: #f5f5f4;
      border-radius: 1rem;
      padding: 1rem;
      outline: none;
      border: none;

      &::placeholder {
        color: #d6d3d1;
      }
    }
  }

  a {
    color: var(--color-black-800);
  }

  button {
    background-color: var(--color-black-700);
    color: var(--color-black-50);
    font-size: 1.6rem;
    letter-spacing: 3px;
    font-weight: 400;
    border: none;
    outline: none;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
  }
}
